ul {
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    list-style: none;
    width: 90vw;
    padding: 0%;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.articlePanel {
    margin-top: 0.5em;
    background: 
    linear-gradient(to bottom right, rgb(0, 149, 255,0.5), rgba(0, 0, 0, 0.1));
    border-style: none none none double;
    border-width: 3px;
    border-color: white;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 2px 2px 2px black;

    padding: 1rem;
    display: grid;
    gap: 0.5em;
    grid-template-areas: 
    'articleTitle articleTitle articleTitle'
    'articleAuthor articleTopic articleVotes'
    'articleCreated articleCreated articleCommentCount'
    ;
}

.articleTitle {
    color:white;
}

.articleTitle:visited {
    color:grey;
}

.articleTitle { grid-area: articleTitle; }
.articleAuthor { grid-area: articleAuthor;}
.articleCommentCount {grid-area: articleCommentCount;}
.articleCreated{ grid-area: articleCreated;}
.articleTopic{ grid-area: articleTopic};
.articleVotes{ grid-area:articleVotes;}