.commentPanel {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 80vw;
    margin-top: 0.5em;
    background: 
    linear-gradient(to bottom right, rgb(0, 149, 255,0.5), rgba(0, 0, 0, 0.1));
    border-style: none none none double;
    border-width: 3px;
    border-color: white;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 2px 2px 2px black;
    display: grid;
}

.commentHeaders {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    justify-content: space-between;
}

.commentBody {
    margin: 0;
    display: block;
    text-align: start;
}

.preview {
    cursor:s-resize;
}

.full {
    cursor:n-resize;
}

.commentFooters{
    display:flex;
    justify-content: space-between;
}

button.delete {
    background-color: red;
}

section.disabled {
    color: grey;
    background: 
    linear-gradient(to bottom right, rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

button.delete:disabled {
    color: grey;
    background-color: rgb(135, 7, 7);
}