header {
    display:flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

header * {
    display: flex;
    padding: 0.5rem;
    height: 10vh;
    align-items: center;
    text-align: center;
    border: 2px solid red;
}