.filter.votes {
    border: 2px solid green;
}

.filter.created_at {
    border: 2px solid green;
}

.filter.comment_count {
    border: 2px solid green;
}

.filterOptions {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-around;
    align-content: space-between;
    margin: 0.5rem;
}

.filterOptions button {
    margin: 0;
    background: 
    linear-gradient(to bottom right, rgb(0, 149, 255,0.5), rgba(0, 0, 0, 0.1));
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px black;
    padding: 0.5rem;
    height:auto;
    width: fit-content;
    font-size: 4vw;
}