.articleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 88vw;
    padding: 0%;
}

.articleBox ul {
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    list-style: none;
    width: 90vw;
    padding: 0%;
    margin-top: 0.1rem;
}

h3.articleTitle {
    margin: 0.5rem;
    margin-left: 0;
    margin-right:0;
}

.articleAuthor { 
    text-align: start;
    text-transform: capitalize;
}

.articleBody {
    font-size: 1.2rem;
    font-style: italic;
    text-align: start;
}

.articleFooterData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}


.articleCommentCount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.articleCommentCount p {
    padding-right: 0.5rem;
}

.postCommentButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height:2rem;
    width: 4rem;
}

.upvote {
    display: flex;
    align-items: center;
    fill:green;
}

.downvote {
    display: flex;
    align-content: center;
    fill: red;
}