.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-image: linear-gradient(to bottom right,rgb(7, 65, 142), rgb(9, 9, 90),black);
  color: white;
}

.pageContainer{
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-content: center;
  justify-content: center;
}






